<md-tab-group class="info-panel">
  <md-tab>
      <ng-template md-tab-label>
          About
      </ng-template>
      <div class="tab-content">
          <h3>Here's the deal</h3>
          <p>The City of Seattle designated 149 public streets in Seattle that end on waterfronts as special rights of way to be preserved and improved for public use.
          </p> 
          <p>Though some street ends have been improved for public use, nearly two-thirds are in need of improvement, overgrown, or have private encroachments.
          </p>
      </div>
  </md-tab>
  <md-tab>
        <ng-template md-tab-label>
            How to help
        </ng-template>
        <div class="tab-content">
            <h3>Join the effort</h3>
            <p>In the coming months, we'll host a <strong>day of action</strong> to collect better site photos and meet each other. 
              Sign up below to be stay in the loop. </p>
          <newsletter-form></newsletter-form>
        </div>
    </md-tab>
  <md-tab>
      <ng-template md-tab-label>
          Inspiration
      </ng-template>
      <div class="tab-content">
          <h3>Share the Stoke</h3>
          <img src="../../assets/noahphoto.png" class="noah-photo">
          <p>Hi I'm Noah! I live in Seattle and often enjoy our beautiful waterfront and water resources paddling. 
          <p>I recently discovered the City of Seattle's <a href="http://www.seattle.gov/transportation/stuse_stends.htm">shoreline street end program</a> 
            and created this site to inspire neighorhood groups to apply for permits to develop these valuable public resources.
          <p>Read more <a href="https://www.noahglusenkamp.com/seattleshorelines">about me and my motivations</a> for this project on my blog.</p>
      </div>
  </md-tab>

</md-tab-group> 
