<div id="shoreline-details-wrapper">
  <button md-raised-button fxFlexAlign="start" routerLink="/{{ shoreline.NO_ }}" class="show-all-button">Show All</button>
  <div class="shoreline-details-wrapper">
    <h1 class="shoreline-name">{{shoreline.NAME}}</h1>
    <img 
    src="../../assets/street-end-images/{{ shoreline.NO_ }}.jpg"
    class="shoreline-image">
    <h3>SDOT data</h3>
    <p>Street-end number: {{shoreline.NO_}}</p>
    <p>Status: {{shoreline.STATUS}}</p>
    <p>Description: {{shoreline.DESCRIPTIO}}</p>
  </div>
</div>