.show-all-button {

    margin: 6px;
}

@media (orientation: landscape ) {
    .shoreline-name {
        margin-left: 6px;
    }
}

.shoreline-name {
    margin: 24px 0px 24px 0px;
}

.shoreline-image {
   min-width:400px;
   max-height:300px;
}

.shoreline-details-wrapper {
    padding: 0px 16px 16px 16px;
    position: relative;
}