md-card {
    margin-top: 10px;
    max-width: 300px;
    max-height: 340px;
}

md-card-title {
    font-weight: bold;
}

.street-end-thumbnail {
    max-height: 200px;
    min-width: 348px;
}

.shoreline-name {
    cursor: pointer;
}
