<div fxLayoutWrap fxLayoutAlign="space-around">
  <md-card>
    <md-card-title>Waterway 18</md-card-title>
    <img md-card-image src="http://placehold.it/350x200">
  </md-card>
  <md-card>
    <md-card-title>Fremont Bridge</md-card-title>
    <img md-card-image src="http://placehold.it/350x200/">
  </md-card>
  <md-card>
    <md-card-title>Waterway 18</md-card-title>
    <img md-card-image src="http://placehold.it/350x200">
  </md-card>
  <md-card>
    <md-card-title>Fremont Bridge</md-card-title>
    <img md-card-image src="http://placehold.it/350x200/">
  </md-card>
  <md-card>
    <md-card-title>Waterway 18</md-card-title>
    <img md-card-image src="http://placehold.it/350x200">
  </md-card>
  <md-card>
    <md-card-title>Fremont Bridge</md-card-title>
    <img md-card-image src="http://placehold.it/350x200/">
  </md-card>
  <md-card>
    <md-card-title>Waterway 18</md-card-title>
    <img md-card-image src="http://placehold.it/350x200">
  </md-card>
  <md-card>
    <md-card-title>Fremont Bridge</md-card-title>
    <img md-card-image src="http://placehold.it/350x200/">
  </md-card>
</div>
