<div fxLayoutWrap fxLayoutAlign="space-around">
  <md-card *ngFor="let shoreline of shorelines"  [attr.id]="shoreline.properties.NO_">
      <md-card-title routerLink="/shoreline/{{ shoreline.properties.NO_ }}">
        {{ shoreline.properties.NAME | slice: 0:25 }}
      </md-card-title>
      <md-card-subtitle>{{ shoreline.properties.SITE_STATU }}</md-card-subtitle>
      <img 
        md-card-image 
        routerLink="/shoreline/{{ shoreline.properties.NO_ }}"
        src="../../assets/street-end-thumbnails/{{ shoreline.properties.NO_ }}.jpg" 
        class="street-end-thumbnail">
  </md-card>
</div>
