.container {
    height: 100%;
    bottom: 0px;
}
/* naming below is position of panel in landscape-portrait */
.left-bottom-panel {
    background-color: palegreen;
    overflow-y: scroll;
}
.right-top-panel {
    background-color: lightblue;
}
@media (orientation: landscape ) {
    .left-bottom-panel {
        position: absolute;
        height: 100%;
        width: 50%
    }
    .right-top-panel {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0px;
    }
}
@media (orientation: portrait ) {
    .left-bottom-panel {
        position: absolute;
        height: 60%;
        width: 100%;
        bottom: 0px;
    }
    .right-top-panel {
        position: absolute;
        height: 40%;
        width: 100%;
    }
}