md-toolbar {
    background: #588CCB; 
}

@media(max-width:400px) {
    .hide-400-below {
        display: none;
    }
}

.toolbar-icon {
    height: 40px;
    width: 40px;
}

.site-name {
    font-family: Oswald, arial;
    font-size: 2em;
    margin: auto;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container {
    height: 100%;
    bottom: 0px;
}

.shorelines-panel {
    overflow-y: scroll;
    height: calc(100% - 64px);
    position: absolute;
}

.info-panel {
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: white;
}

.tab-content {
    padding: 0 16px 16px 16px;
}

.map-panel {
    background: lightcyan;
}
@media (orientation: landscape ) {
    .shorelines-panel {
        width: 50%;
    }
    .map-panel {
        position: absolute;
        height: calc(100% - 64px);
        width: 50%;
        right: 0px;
    }
}
@media (orientation: portrait ) {
    .shorelines-panel {
        width: 100%;
        height: calc(100% - 56px);
    }
    .map-panel {
        display: none;
    }

    .site-name  {
        font-size: 1em;
    }
}